<h1>Chat</h1>

<div>
    <span id="user"></span> 
    <input type="text" id="chatbot">
</div>
<div id="messagesLogs"></div>
<div id="history"></div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>
