<!---formulario producto --->

<h1 style ="color:blue">Ingrese Productos formulario</h1>

<form id="form1">

    <div class="form-group">
        <label for="codigo">Codigo</label>
        <input id="codigo" class="form-control" type="text" name="codigo">
    </div>
    <div class="form-group">
        <label for="description">Descripcion</label>
        <input id="description" class="form-control" type="text" name="description">
    </div>
    <button class="btn btn-warning" id="btn" type="submit">Crear</button>
</form>
<h2>Borrado</h2>
<form id="form2">

    <div class="form-group">
        <label for="codigo">Codigo</label>
        <input id="codigodel" class="form-control" type="text" name="codigodel">
    </div>
    <button class="btn btn-warning" id="btn1" type="submit">Borrar</button>
</form>